* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "lato", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.hero-txt {
	position: absolute;
	color: #fff;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-txt h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #000;
	color: #ddd;
}

.hero-txt span {
	text-transform: uppercase;
	color: #00e7ffe6;
}

.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align-last: center;
}
section {
	scroll-margin-top: 60px;
}
/* NAVIGATION */
.nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	cursor: pointer;
	background: none;
	border: none;
}

.nav-items {
	display: none;
}

/* HEADER */

.header {
	position: relative;
	height: 350px;
	background-image: url(/img/hero-mobile.jpg);
	background-size: cover;
	background-position: center;
}

/* MAIN */

main {
	margin: 50px 0;
}

/* O NAS */

.about-us-info {
	margin-bottom: 10px;
	padding: 0 20px;
}

/* PRODUKTY */

.products {
	margin: 60px auto;
}
.product h3 {
	text-transform: uppercase;
	transition: 0.3s;
}
.product:hover h3 {
	transform: scale(1.1);
}

.product {
	position: relative;
	height: 300px;
	background-position: center;
	background-size: cover;
	text-align: center;
}

.first-product {
	background-image: url(/img/img-1.jpg);
}
.second-product {
	background-image: url(/img/img-2.jpg);
}
.third-product {
	background-image: url(/img/img-3.jpg);
}
.fourth-product {
	background-image: url(/img/img-4.jpg);
}

.contact {
	text-align: center;
}
.contact h3 {
	margin: 20px 0 5px;
	text-transform: uppercase;
}

/* FOOTER */

.footer {
	text-align: center;
	padding: 30px 10px;
	background-color: #ddd;
}
.icon {
	margin-right: 10px;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}
	.nav-items {
		display: block;
	}
	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: 0.3s;
	}
	.nav-items a:hover {
		color: #56b6c2;
	}
	.header {
		height: 400px;
		background-image: url(/img/hero-desktop.jpg);
	}
	.hero-txt h1 {
		font-size: 36px;
	}
	.hero-txt p {
		font-size: 18px;
	}
	.product h3 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.products-box {
		font-size: 0;
	}
	.product {
		display: inline-block;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.hero-txt h1 {
		font-size: 42px;
	}
	.hero-txt p {
		font-size: 20px;
	}
}
